@import "tailwindcss";
@plugin 'phosphor-icons-tailwindcss';

:root {
  --background-color-theme: hsl(0, 78%, 25%);
  --foreground-color-theme: hsl(30, 67%, 94%);
}

@theme inline {
  --color-background-theme: var(--background-color-theme);
  --color-foreground-theme: var(--foreground-color-theme);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-burgundy: hsl(0, 78%, 25%);
  --color-light-peach: hsl(359.98, 99%, 94%);
  --color-linen: hsl(30, 67%, 94%);
  --color-silver: hsl(200, 0%, 77%);
  --color-onyx: hsl(195, 4%, 22%);
  --color-fern: hsl(106, 29%, 37%);
  --color-mulberry: hsl(328, 51%, 53%);
  --color-eggplant: hsl(329, 20%, 32%);
}

@layer theme {
  [data-theme="burgundy"] {
    --background-color-theme: var(--color-burgundy);
    --foreground-color-theme: var(--color-light-peach);
    --tt-background-color: var(--color-burgundy);
    --tt-foreground-color: var(--color-light-peach);
  }

  [data-theme="silver"] {
    --background-color-theme: var(--color-silver);
    --foreground-color-theme: black;
    --tt-background-color: var(--color-silver);
    --tt-foreground-color: black;
  }

  [data-theme="fern"] {
    --background-color-theme: var(--color-fern);
    --foreground-color-theme: var(--color-linen);
    --tt-background-color: var(--color-fern);
    --tt-foreground-color: var(--color-linen);
  }

  [data-theme="mulberry"] {
    --background-color-theme: var(--color-mulberry);
    --foreground-color-theme: var(--color-linen);
    --tt-background-color: var(--color-mulberry);
    --tt-foreground-color: var(--color-linen);
  }

  [data-theme="eggplant"] {
    --background-color-theme: var(--color-eggplant);
    --foreground-color-theme: var(--color-linen);
    --tt-background-color: var(--color-eggplant);
    --tt-foreground-color: var(--color-linen);
  }

  [data-theme="onyx"] {
    --background-color-theme: var(--color-onyx);
    --foreground-color-theme: var(--color-linen);
    --tt-background-color: var(--color-onyx);
    --tt-foreground-color: var(--color-linen);
  }
}

@layer components {
    .tooltip-triangle {
      @apply absolute left-1/2 -translate-x-1/2 top-full h-0 w-0 border-l-4 border-r-4 border-t-4 border-l-transparent border-r-transparent border-t-red-400
    }
    .tooltip-box {
      @apply absolute left-1/2 -translate-x-1/2 bottom-full mb-2 hidden group-hover:block w-max bg-(--tt-background-color)/85 text-(--tt-foreground-color) text-xs rounded px-2 py-1
    }
}

@utility flex-col-center {
  @apply flex flex-col items-center;
}
