@import "tailwindcss";
@plugin 'phosphor-icons-tailwindcss';

:root {
  --background: #710E0E;
  --foreground: #FAF0E6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-burgandy: #710E0E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
